<!DOCTYPE html>
<html>
<head>
  <title>ItsYourTurn</title>
  <%= stylesheet_link_tag    "its_your_turn/application", media: "all" %>
  <%= javascript_include_tag "its_your_turn/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
